
.d-box{
    min-height: 600px;
    padding:0 0 60px 0;
    .d-card{
        width: 355px;
        margin: 10px auto 0;
        background: #fff;
        border-radius: 8px;
        box-sizing: border-box;
        //border:1px solid #fff
    }
}